# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/

# Ignore environment variables
.env

# Ignore database config or secret files
*.db
*.sqlite3

# Ignore system/IDE files
.DS_Store
*.log
*.bak

# Ignore compiled files
*.pyc

# Ignore ngrok config if needed
.ngrok2/
